body {
	background-color: #111;
	color: #0F0;
	font-family: Courier, monospace;
	font-size: 16px;
	line-height: 1.5;
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-size: 32px;
	margin: 0;
	padding: 20px 0;
	text-align: center;
}

h2 {
	color: #0F0;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
}

.text {
	margin: 20px 0;
	padding: 20px;
	border: 1px solid #0F0;
	border-radius: 10px;
}

.skills {
	display: flex;
	flex-wrap: wrap;
	margin: 20px 0;
	padding: 20px;
	border: 1px solid #0F0;
	border-radius: 10px;
}

.skill {
	flex: 1 0 200px;
	margin: 10px;
	padding: 
